<div class="container-fluid">

  <!-- start page title -->
  <!-- <app-page-title title="Form Validation" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" *ngIf="validationform">
          <h4 class="card-title">Search Employee</h4>
          <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
            validation–available in all our supported browsers.</p> -->
          <form class="needs-validation" [formGroup]="validationform" name="validationform">
            <div class="row">
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationCompany" class="form-label">Company</label>
                  <select class="form-select" id="validationCompany" name="company" name="company"
                    formControlName="companyId">
                    <option selected="" [value]="0">-- All --</option>
                    <option *ngFor="let company of companies" [value]="company.id">
                      {{company?.compnay_Name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationZone" class="form-label">Zone</label>
                  <select class="form-select" id="validationZone" formControlName="zoneId"
                    (change)="filterBranches($event.target.value)">
                    <option selected="" [value]="0">-- All Zone--</option>
                    <option *ngFor="let zone of zones" [value]="zone.id" name="zone">
                      {{zone?.zone_Name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationBranch" class="form-label">Branch</label>
                  <select class="form-select" id="validationBranch" formControlName="project_BranchId"
                    (change)="filterDepartments($event.target.value)">
                    <!-- <option selected="" disabled="" value="">Choose...</option> -->
                    <option selected="" [value]="0">-- All Branch--</option>

                    <option *ngFor="let branch of filteredBranches" [value]="branch.id">
                      {{branch?.branch_Name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationDepartment" class="form-label">Department</label>
                  <select class="form-select" id="validationDepartment" formControlName="departmentId"
                    (change)="filterDesignation($event.target.value)">
                    <!-- <option selected="" disabled="" value="">Choose...</option> -->
                    <option selected="" [value]="0">-- All Department--</option>

                    <option *ngFor="let depart of filteredDepartments" [value]="depart.id">
                      {{depart?.department_Name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationDesignation" class="form-label">Designation</label>
                  <select class="form-select" id="validationDesignation" formControlName="designationId">
                    <!-- <option selected="" disabled="" value="">Choose...</option> -->
                    <option selected="" [value]="0">-- All Designation--</option>

                    <option *ngFor="let designation of filteredDesignations" [value]="designation.id">
                      {{designation?.designation_Name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationCustom01">Name</label>
                  <input type="text" class="form-control" id="validationCustom01" formControlName="firstName"
                    placeholder="Name">
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationEmployeeCode">Employee Code</label>
                  <input type="text" class="form-control" id="validationEmployeeCode" formControlName="employeeCode"
                    placeholder="Employee Code">
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationEmail">Email</label>
                  <input type="text" class="form-control" id="validationEmail" formControlName="email"
                    placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationAadharStatusNominee">Status</label>
                  <div class="d-flex">
                    <div class="custom-control custom-radio custom-control-inline mr-4">
                      <input type="radio" [value]="1" id="rdoStatusAll" name="statusId" class="custom-control-input"
                        formControlName="statusId">
                      <label class="custom-control-label" for="rdoStatusAll">All</label>
                    </div> &nbsp;
                    <div class="custom-control custom-radio custom-control-inline mr-4">
                      <input type="radio" [value]="2" id="rdoInActive" name="statusId" class="custom-control-input"
                        formControlName="statusId">
                      <label class="custom-control-label" for="rdoInActive">In Active</label>
                    </div>&nbsp;
                    <div class="custom-control custom-radio custom-control-inline mr-4">
                      <input type="radio" [value]="3" id="rdoActive" name="statusId" class="custom-control-input"
                        formControlName="statusId">
                      <label class="custom-control-label" for="rdoActive">Active</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" (click)="formSubmit()" type="submit">Search</button> &nbsp;
              <button class="btn btn-primary" type="button" (click)="resetForm()">Reset</button>
            </div>
          </form>
        </div>
        <!-- end card -->
      </div>
      <div class="row" *ngIf="lstEmployees && lstEmployees.length>0">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-centered table-nowrap">
                  <thead>
                    <tr>
                      <td>
                        <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
                          <input type="image" name="ctl00$ContentPlaceHolder1$lnkBtnExelExport"
                            id="ctl00_ContentPlaceHolder1_lnkBtnExelExport" src="assets/images/excel.jpeg"
                            style="height:31px;border-width:0px;">
                        </div>
                      </td>
                    </tr>
                    <tr style="background: aliceblue;">
                      <th class="align-middle">SI. No.</th>
                      <th class="align-middle">Company</th>
                      <th class="align-middle">Employee Type</th>
                      <th class="align-middle">Employee Code</th>
                      <th class="align-middle">Name</th>
                      <th class="align-middle">Address</th>
                      <th class="align-middle">Department</th>
                      <th class="align-middle">Designation</th>
                      <th class="align-middle">Email Id</th>
                      <th class="align-middle">Contact No.</th>
                      <th class="align-middle">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emp of lstEmployees; let i=index">
                      <th>{{i + 1}}</th>
                      <th>{{getCompany(emp.companyId)}}</th>
                      <th>{{getEmployeeType(emp.employee_TypeId)}}</th>
                      <th>{{emp.employeeCode}}</th>
                      <th>{{emp.firstName}} {{emp.lastName}}</th>

                      <th>{{emp.professionalInformation}}</th>
                      <th>{{getDepartment(emp.departmentId)}}</th>
                      <th>{{getDesignation(emp.designationId)}}</th>
                      <th>{{emp.email}}</th>
                      <th>{{emp.reference_Phone_No}}</th>
                      <td>
                        <input type="image"
                          name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                          id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                          src="assets/images/icon_edit.gif" (click)="editEmployee(emp.id)"
                          style="height:25px;width:25px;border-width:0px;margin-left: 10px;"><br />
                        <input type="image" *ngIf="validationform.controls.statusId.value==3 || (validationform.controls.statusId.value==1 && emp.status)"
                          name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnActive"
                          id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnActive" (click)="disableEmployee(emp.id)"
                          src="assets/images/iconRed.gif" style="border-width:0px;margin-left: 10px;"><br />
                        <input type="image" *ngIf="validationform.controls.statusId.value==2 ||(validationform.controls.statusId.value==1 && !emp.status)"
                          name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnActive" (click)="enableEmployee(emp.id)"
                          id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnActive"
                          src="assets/images/iconGreen.gif" style="border-width:0px;margin-left: 10px;">
                        <input type="image"
                          name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                          id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                          src="assets/images/DeleteIcon.png" (click)="deleteEmployee(emp.id)"
                          style="height:25px;width:25px;border-width:0px;margin-left: 10px;">
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
          <!-- end table -->
        </div>
      </div>
    </div> <!-- end col -->
  </div>
</div>




<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-centered table-nowrap">
            <thead>
              <tr>
                <td>
                  <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
                    <input type="image" name="ctl00$ContentPlaceHolder1$lnkBtnExelExport"
                      id="ctl00_ContentPlaceHolder1_lnkBtnExelExport" src="assets/images/excel.jpeg"
                      style="height:31px;border-width:0px;">
                  </div>
                </td>
              </tr>
              <tr style="background: aliceblue;">
                <th class="align-middle">SI. No.</th>
                <th class="align-middle">Company</th>
                <th class="align-middle">Employee Type</th>
                <th class="align-middle">Employee Code</th>
                <th class="align-middle">Name</th>
                <th class="align-middle">Address</th>
                <th class="align-middle">Department</th>
                <th class="align-middle">Designation</th>
                <th class="align-middle">Email Id</th>
                <th class="align-middle">Contact No.</th>
                <th class="align-middle">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>ISPAT DAMODAR PRIVATE LIMITED</td>
                <td>Full Time</td>
                <td>SSEPL20202</td>
                <td>DEMO2 USER</td>
                <td>Kolkata</td>
                <td>FINANCE & ACCOUNTING</td>
                <td>Accountant</td>
                <td>demouser2@vehement.in</td>
                <td>8976564534</td>
                <td>
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/icon_edit.gif" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnActive"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnActive"
                    src="assets/images/iconRed.gif" style="border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/DeleteIcon.png" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;">
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>ISPAT DAMODAR PRIVATE LIMITED</td>
                <td>Full Time</td>
                <td>SSEPL20203</td>
                <td>Pradipta Poddar</td>
                <td>Kolkata</td>
                <td>DOT NET</td>
                <td>JUNIOR PROGRAMMER</td>
                <td>pradipta@vehement.in</td>
                <td>9831794094</td>
                <td>
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/icon_edit.gif" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnActive"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnActive"
                    src="assets/images/iconRed.gif" style="border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/DeleteIcon.png" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;">
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>ISPAT DAMODAR PRIVATE LIMITED</td>
                <td>Full Time</td>
                <td>MGNT0001</td>
                <td>S K</td>
                <td>Nabagram</td>
                <td>MANAGEMENT</td>
                <td>Director</td>
                <td>sk@amajeegroup.com</td>
                <td>7605074515</td>
                <td>
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/icon_edit.gif" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnActive"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnActive"
                    src="assets/images/iconRed.gif" style="border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/DeleteIcon.png" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;">
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>ISPAT DAMODAR PRIVATE LIMITED</td>
                <td>Full Time</td>
                <td>MGNT0002</td>
                <td>Ujjwal Dey</td>
                <td>Nabagram</td>
                <td>MANAGEMENT</td>
                <td>Director</td>
                <td>ujjwal.dey@amajeegroup.com</td>
                <td>7029600515</td>
                <td>
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/icon_edit.gif" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnActive"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnActive"
                    src="assets/images/iconRed.gif" style="border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/DeleteIcon.png" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;">
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>ISPAT DAMODAR PRIVATE LIMITED</td>
                <td>Full Time</td>
                <td>MGNT0003</td>
                <td>Amit Gupta</td>
                <td>Nabagram</td>
                <td>MANAGEMENT</td>
                <td>Director</td>
                <td>amit.gupta@amajeegroup.com</td>
                <td>91702960051</td>
                <td>
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/icon_edit.gif" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnActive"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnActive"
                    src="assets/images/iconRed.gif" style="border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/DeleteIcon.png" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;">
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>ISPAT DAMODAR PRIVATE LIMITED</td>
                <td>Full Time</td>
                <td>MGNT0004</td>
                <td>Abhisheke Dia</td>
                <td>Nabagram</td>
                <td>MANAGEMENT</td>
                <td>Director</td>
                <td>abhishekedia@amajeegroup.com</td>
                <td>91760507451</td>
                <td>
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/icon_edit.gif" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnActive"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnActive"
                    src="assets/images/iconRed.gif" style="border-width:0px;margin-left: 10px;"><br />
                  <input type="image"
                    name="ctl00$ContentPlaceHolder1$RadgdvEmployeeDetails$ctl00$ctl04$ImgbtnEdit"
                    id="ctl00_ContentPlaceHolder1_RadgdvEmployeeDetails_ctl00_ctl04_ImgbtnEdit"
                    src="assets/images/DeleteIcon.png" onclick="target"
                    style="height:25px;width:25px;border-width:0px;margin-left: 10px;">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end table -->
  </div>
</div>