<div class="container-fluid">

  <!-- start page title -->
  <!-- <app-page-title title="Form Validation" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Search Employee</h4>
          <!-- <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
            validation–available in all our supported browsers.</p> -->
          <form class="needs-validation" [formGroup]="validationform" name="validationform">
            <div class="row">
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationCompany" class="form-label">Company</label>
                  <select class="form-select" id="validationCompany" name="company" name="company"
                    formControlName="companyId">
                    <option selected="" [value]="0">-- All --</option>
                    <option *ngFor="let company of companies" [value]="company.id">
                      {{company?.compnay_Name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationZone" class="form-label">Zone</label>
                  <select class="form-select" id="validationZone" formControlName="zoneId"
                    (change)="filterBranches($event.target.value)">
                    <option selected="" [value]="0">-- All Zone--</option>
                    <option *ngFor="let zone of zones" [value]="zone.id" name="zone">
                      {{zone?.zone_Name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationBranch" class="form-label">Branch</label>
                  <select class="form-select" id="validationBranch" formControlName="project_BranchId"
                    (change)="filterDepartments($event.target.value)">
                    <!-- <option selected="" disabled="" value="">Choose...</option> -->
                    <option selected="" [value]="0">-- All Branch--</option>

                    <option *ngFor="let branch of filteredBranches" [value]="branch.id">
                      {{branch?.branch_Name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationDepartment" class="form-label">Department</label>
                  <select class="form-select" id="validationDepartment" formControlName="departmentId"
                    (change)="filterDesignation($event.target.value)">
                    <!-- <option selected="" disabled="" value="">Choose...</option> -->
                    <option selected="" [value]="0">-- All Department--</option>

                    <option *ngFor="let depart of filteredDepartments" [value]="depart.id">
                      {{depart?.department_Name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationDesignation" class="form-label">Designation</label>
                  <select class="form-select" id="validationDesignation" formControlName="designationId">
                    <!-- <option selected="" disabled="" value="">Choose...</option> -->
                    <option selected="" [value]="0">-- All Designation--</option>

                    <option *ngFor="let designation of filteredDesignations" [value]="designation.id">
                      {{designation?.designation_Name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationCustom01">Name</label>
                  <input type="text" class="form-control" id="validationCustom01" formControlName="firstName"
                    placeholder="Name">
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationEmployeeCode">Employee Code</label>
                  <input type="text" class="form-control" id="validationEmployeeCode" formControlName="employeeCode"
                    placeholder="Employee Code">
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationEmail">Email</label>
                  <input type="text" class="form-control" id="validationEmail" formControlName="email"
                    placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationAadharStatusNominee">Status</label>
                  <div class="d-flex">

                    <div class="custom-control custom-radio custom-control-inline mr-4">
                      <input type="radio" [value]="1" id="rdoStatusAll" name="statusId" class="custom-control-input"
                        formControlName="statusId">
                      <label class="custom-control-label" for="rdoStatusAll">All</label>
                    </div> &nbsp;
                    <div class="custom-control custom-radio custom-control-inline mr-4">
                      <input type="radio" [value]="2" id="rdoInActive" name="statusId" class="custom-control-input"
                        formControlName="statusId">
                      <label class="custom-control-label" for="rdoInActive">In Active</label>
                    </div>&nbsp;
                    <div class="custom-control custom-radio custom-control-inline mr-4">
                      <input type="radio" [value]="3" id="rdoActive" name="statusId" class="custom-control-input"
                        formControlName="statusId">
                      <label class="custom-control-label" for="rdoActive">Active</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" (click)="formSubmit()" type="submit">Search</button> &nbsp;
              <button class="btn btn-primary" type="button" (click)="resetForm()">Reset</button>
            </div>
          </form>
        </div>
      </div>
      <!-- end card -->
    </div> <!-- end col -->
  </div>
  <div class="row" *ngIf="lstEmployees && lstEmployees.length>0">
    <div class="col-lg-12">
      <div class="table-responsive mb-0">
        <table class="table table-centered table-nowrap">
          <thead class="table-light">
            <tr>
              <th class="align-middle">SI. No.</th>
              <th class="align-middle">Company</th>
              <th class="align-middle">Employee Type</th>
              <th class="align-middle">Employee Code</th>
              <th class="align-middle">Name</th>
              <th class="align-middle">Address</th>
              <th class="align-middle">Department</th>
              <th class="align-middle">Designation</th>
              <th class="align-middle">Email Id</th>
              <th class="align-middle">Contact No.</th>
              <th class="align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Company 1</td>
              <td>Full Time</td>
              <td>NTR195</td>
              <td>Address 1</td>
              <td>FINANCE & ACCOUNTING</td>
              <td>abc@gmail.com</td>
              <td>123456789</td>
              <td>
                <a href="#"><i class="mdi mdi-lead-pencil"></i></a>
                <a href="#"><i class="mdi-alpha-i-circle"></i></a>
                <a href="#" class="text-danger"><i class="mdi mdi-close"></i></a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Company 1</td>
              <td>Full Time</td>
              <td>NTR195</td>
              <td>Address 1</td>
              <td>FINANCE & ACCOUNTING</td>
              <td>abc@gmail.com</td>
              <td>123456789</td>
              <td>
                <a href="#"><i class="mdi mdi-lead-pencil"></i></a>
                <a href="#"><i class="mdi-alpha-i-circle"></i></a>
                <a href="#" class="text-danger"><i class="mdi mdi-close"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end table -->
    </div>
  </div>
</div>