<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Employee</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Welcome to Employee Information</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hrmsForm">
    <form [formGroup]="hrmsForm" name="hrmsForm" class="mainform" id="mainform">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Employee - Details</h4>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom04" class="form-label">Company<span class="text-danger">*</span></label>
                    <select class="form-select" id="validationCustom01">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let company of companies" [value]="company.id">
                        {{company?.compnay_Name}}
                      </option>
                    </select>
                    <!-- <div *ngIf="submit && form.company.errors" class="invalid-feedback">
                    <span *ngIf="form.company.errors.required">Please provide a valid company.</span>
                  </div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom04" class="form-label">Employee Category<span
                        class="text-danger">*</span></label>
                    <select class="form-select" id="validationCustom02">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let category of categories" [value]="category.id">
                        {{category?.category_Name}}
                      </option>
                    </select>
                    <!-- <div *ngIf="submit && form.category.errors" class="invalid-feedback">
                    <span *ngIf="form.category.errors.required">Please provide a valid category.</span>
                  </div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom03">Employee Code<span class="text-danger">*<input type="checkbox">Auto
                        Generation</span></label>
                    <input type="text" class="form-control" id="validationCustom03" placeholder="Employee Code">
                    <!-- <div *ngIf="submit && form.employeeCode.errors" class="invalid-feedback">
                    <span *ngIf="form.employeeCode.errors.required">Please provide a valid employee code.</span>
                  </div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom03">Biometric Code</label>
                    <input type="text" class="form-control" id="validationCustom04" placeholder="Biometric Code" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom05">First Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="validationCustom05" placeholder="First Name">
                    <!-- <div *ngIf="submit && form.firstName.errors" class="invalid-feedback">
                    <span *ngIf="form.firstName.errors.required">Please provide a valid First Name.</span>
                  </div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom06">Middle Name</label>
                    <input type="text" class="form-control" id="validationCustom06" placeholder="Middle Name" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom07">Last Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="validationCustom07" placeholder="Last Name">
                    <!-- <div *ngIf="submit && form.lastName.errors" class="invalid-feedback">
                    <span *ngIf="form.lastName.errors.required">Please provide a valid Last Name.</span>
                  </div> -->
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom08" class="form-label">Department<span
                        class="text-danger">*</span></label>
                    <select class="form-select" id="validationCustom08">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let depart of departments" [value]="depart.id">
                        {{depart?.department_Name}}
                      </option>
                    </select>
                    <!-- <div *ngIf="submit && form.department.errors" class="invalid-feedback">
                    <span *ngIf="form.department.errors.required">Please provide a valid department.</span>
                  </div> -->
                  </div>
                </div>
                <!-- <div class="col-md-3">
                <div class="mb-3">
                  <label for="validationCustom08" class="form-label">Designation<span
                      class="text-danger">*</span></label>
                  <select class="form-select" id="validationCustom08">
                    <option selected="" disabled="" value="">Choose...</option>
                    <option *ngFor="let depart of departments" [value]="depart.id">
                      {{depart?.department_Name}}
                    </option>
                  </select>
                </div>
              </div> -->

              </div>
              <div class="row">

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom09" class="form-label">Project/Branch<span
                        class="text-danger">*</span></label>
                    <select class="form-select" id="validationCustom09">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let branch of branches" [value]="branch.id">
                        {{branch?.branch_Name}}
                      </option>
                    </select>
                    <!-- <div *ngIf="submit && form.project.errors" class="invalid-feedback">
                    <span *ngIf="form.project.errors.required">Please provide a valid project/branch.</span>
                  </div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom10" class="form-label">Higher Authority Branch/Project<span
                        class="text-danger">*</span></label>
                    <select class="form-select" id="validationCustom10">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let hBranches of higherAuthoritiesBranches" [value]="hBranches.id">
                        {{hBranches?.higherAuthority_Branch}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom11" class="form-label">Higher Authority</label>
                    <select class="form-select" id="validationCustom11">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let higherAuthority of higherAuthorities" [value]="higherAuthority.id">
                        {{higherAuthority?.higherAuthority}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom12" class="form-label">Select Higher Authority Name</label>
                    <select class="form-select" id="validationCustom12">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let higherAuthorityN of higherAuthorityNames" [value]="higherAuthorityN.id">
                        {{higherAuthorityN?.higherAuthority_Name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom07">Date Of Joining</label>
                    <input type="date" class="form-control" id="validationCustom013" />
                    <div>
                      <span><b>Service</b>: 5 Years 2 Month 26 Days</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom07">Email Address</label>
                    <input type="text" class="form-control" id="validationCustom14" placeholder="Email Address" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom15" class="form-label">Employee Type<span
                        class="text-danger">*</span></label>
                    <select class="form-select" id="validationCustom15">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let employee of employees" [value]="employee.id">
                        {{employee?.type_Name}}
                      </option>
                    </select>
                    <!-- <div *ngIf="submit && form.employeeType.errors" class="invalid-feedback">
                    <span *ngIf="form.employeeType.errors.required">Please provide a valid employee type.</span>
                  </div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom16">Mobile No</label>
                    <input type="text" class="form-control" id="validationCustom16" placeholder="Mobile No">
                    <!-- <div *ngIf="submit && form.mobileNo.errors" class="invalid-feedback">
                    <span *ngIf="form.mobileNo.errors.required">Please provide a valid Mobile No.</span>
                  </div> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom17" class="form-label">Third Party Type</label>
                    <select class="form-select" id="validationCustom17" (change)="onThirdPartySelected($event)">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let tPartyType of thirdPartyType" [value]="tPartyType.id">
                        {{tPartyType?.thirdPartyType_Name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">

                    <label for="validationCustom18" class="form-label">Third Party</label>
                    <select class="form-select" id="validationCustom18">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let tParty of thirdPartyList" [value]="tParty.id">
                        {{tParty?.thirdParty_Name}}
                      </option>
                    </select>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom19" class="form-label">Working Status</label>
                    <select class="form-select" id="validationCustom19">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let workingStatus of workingStatus" [value]="workingStatus.id">
                        {{workingStatus?.workingStatus_Name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom20">Probatlon Perlod(Days)</label>
                    <input type="text" class="form-control" id="validationCustom20"
                      placeholder="Probatlon Perlod(Days)">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom21">Reference Employee Name</label>
                    <input type="text" class="form-control" id="validationCustom21"
                      placeholder="Reference Employee Name">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom22">Reference Phone No</label>
                    <input type="text" class="form-control" id="validationCustom22" placeholder="Reference Phone No">
                  </div>
                </div>
              </div>
              <hr>
              <h4 class="card-title">Personal Information</h4>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom22">Date Of Birth</label>
                    <input type="date" class="form-control" id="validationCustom22" placeholder="Date Of Birth">
                  </div>
                  <div>
                    <!-- <span><b>Age : </b> 31 years 5 Month 18 Days</span> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom23">Gender</label>
                    <div class="d-flex">

                      <div class="custom-control custom-radio custom-control-inline mr-5">
                        <input type="radio" id="rdoGender" checked name="rdoGender" class="custom-control-input">
                        <label class="custom-control-label" for="rdoGender"> Male</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline mr-5">
                        <input type="radio" id="rdoFemale" name="rdoGender" class="custom-control-input">
                        <label class="custom-control-label" for="rdoFemale"> FeMale</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rdoTransit" name="rdoGender" class="custom-control-input" checked>
                        <label class="custom-control-label" for="rdoTransit">Transit</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom24">Nationality<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="validationCustom24" placeholder="Nationality">
                    <!-- <div *ngIf="submit && form.nationality.errors" class="invalid-feedback">
                    <span *ngIf="form.nationality.errors.required">Please provide a valid Nationality.</span>
                  </div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom25">Religion<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="validationCustom25" placeholder="Religion">
                    <!-- <div *ngIf="submit && form.religion.errors" class="invalid-feedback">
                    <span *ngIf="form.religion.errors.required">Please provide a valid Religion.</span>
                  </div> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom26" class="form-label">Cast</label>
                    <select class="form-select" id="validationCustom26">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let tcast of casts" [value]="tcast.id">
                        {{tcast.cast_Name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom27">Physical Disability</label>
                    <div class="d-flex">

                      <div class="custom-control custom-radio custom-control-inline mr-5">
                        <input type="radio" id="physicalRadioInline1" name="physicalYes" class="custom-control-input">
                        <label class="custom-control-label" for="physicalRadioInline1"> Yes</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="physicalRadioInline2" name="physicalNo" class="custom-control-input"
                          checked>
                        <label class="custom-control-label" for="physicalRadioInline2"> No</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom28" class="form-label">Blood Group</label>
                    <select class="form-select" id="validationCustom28">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let blood of bloodGroup" [value]="blood.id">{{blood.bloodGroup_Name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom34" class="form-label">Marital Status<span
                        class="text-danger">*</span></label>
                    <select class="form-select" id="validationCustom34">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let meritalS of meritalStatuses" [value]="meritalS.id">
                        {{meritalS.marital_Status}}
                      </option>
                    </select>
                    <!-- <div *ngIf="submit && form.maritalStatus.errors" class="invalid-feedback">
                    <span *ngIf="form.maritalStatus.errors.required">Please provide a valid Marital Status.</span>
                  </div> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="identificationMark" class="form-label">Identification Mark</label>
                    <textarea class="form-control" id="identificationMark"></textarea>
                  </div>
                </div>
              </div>
              <hr>
              <h4 class="card-title">Family Details</h4>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom27">Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="fName" name="fName"
                      [ngModelOptions]="{standalone: true}" id="validationCustom27" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom29" class="form-label">Relationship<span
                        class="text-danger">*</span></label>
                    <select class="form-select" id="validationCustom29" [(ngModel)]="fRelationship"
                      [ngModelOptions]="{standalone: true}">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let relation of relationShip" [value]="relation.id">
                        {{relation.relationShip_Name}}
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom28">Date Of Birth</label>
                    <input type="date" class="form-control" id="validationCustom28" [(ngModel)]="fDateOfBirth"
                      [ngModelOptions]="{standalone: true}" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom35">Aadhar No</label>
                    <input type="text" class="form-control" id="validationCustom35" [(ngModel)]="fAadharNo"
                      [ngModelOptions]="{standalone: true}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom30">Aadhar Status</label>
                    <div class="d-flex">
                      <div class="custom-control custom-radio custom-control-inline mr-5">
                        <input type="radio" id="rdoAadhar" name="rdoAadhar" class="custom-control-input"
                          value="Verified" [(ngModel)]="fAadharStatus" [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="rdoAadhar">Verified</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rdoAadhar1" name="rdoAadhar" checked class="custom-control-input"
                          value="Not Verified" [(ngModel)]="fAadharStatus" [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="rdoAadhar1">Not Verified</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom31" class="form-label">Address</label>
                    <textarea class="form-control" [(ngModel)]="fAddress"
                      [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom32">Contact No</label>
                    <input type="text" class="form-control" id="validationCustom28" [(ngModel)]="fContactNo"
                      [ngModelOptions]="{standalone: true}" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom33">&nbsp;</label><br>
                    <a href="https://resident.uidai.gov.in/aadhaarverification">Aadhar Number Check</a>
                  </div>
                </div>
              </div>
              <div>
                <button class="btn btn-primary" (click)="addfamilyDetailsArr()" *ngIf="!isFamilyEdited">Add</button>
                <button class="btn btn-primary" (click)="updatefamilyDetailsArr()"
                  *ngIf="isFamilyEdited">Update</button>
              </div>
              <br />
              <table class="table" *ngIf="familyDetailsArr.length > 0">
                <thead>
                  <tr style="background: aliceblue;">
                    <th>Sl.No</th>
                    <th>Name</th>
                    <th>Relationship</th>
                    <th>Date Of Birth</th>
                    <th>Aadhar No</th>
                    <th>Aadhar Status</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody formArrayName="familyDetails">
                  <tr *ngFor="let familyDetails of familyDetailsArr;let i=index;" [formGroupName]="i">
                    <td>{{i+1}}</td>
                    <td><input type="text" class="form-control" formControlName="NameNominee" readonly></td>
                    <td>
                      <select class="form-select" id="validationCustom29" formControlName="relationshipNominee"
                        disabled>
                        <option *ngFor="let relation of relationShip" [value]="relation.id">
                          {{relation.relationShip_Name}}
                      </select>
                    </td>
                    <td><input type="text" class="form-control" formControlName="dateOfBirthNominee" readonly></td>
                    <td><input type="text" class="form-control" formControlName="aadharNoNominee" readonly></td>
                    <td><input type="text" class="form-control" formControlName="AadharStatusNominee" readonly></td>
                    <td><input type="text" class="form-control" formControlName="AddressNominee" readonly></td>
                    <td><input type="text" class="form-control" formControlName="ContactNominee" readonly></td>
                    <td>
                      <i class="fa fa-edit" style="font-size:24px;color: blue;" (click)="editFamilyDetails(i)"></i>
                      &nbsp;
                      <i class="fa fa-trash" style="font-size:24px;color: red;" (click)="deleteFamilyDetails(i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end card -->
        </div> <!-- end col -->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Nominee - Details</h4>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationName">Name</label>
                    <input type="text" class="form-control" id="validationName" placeholder="Name" [(ngModel)]="nName"
                      [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationRelation" class="form-label">Relationship</label>
                    <select class="form-select" id="validationRelation" [(ngModel)]="nRelationship"
                      [ngModelOptions]="{standalone: true}">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option *ngFor="let relationS of relationShip" [value]="relationS.id">
                        {{relationS.relationShip_Name}}

                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationCustom03">Date Of Birth</label>
                    <input type="date" class="form-control" id="validationCustom04" [(ngModel)]="nDateOfBirth"
                      [ngModelOptions]="{standalone: true}" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationAadharNominee">Aadhar No</label>
                    <input type="text" class="form-control" id="validationCustom04" [(ngModel)]="nAadharNo"
                      [ngModelOptions]="{standalone: true}" />
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationAadharStatusNominee">Aadhar Status</label>
                    <div class="d-flex">

                      <div class="custom-control custom-radio custom-control-inline mr-5">
                        <input type="radio" id="rdoAadharStatusNominee" name="rdoAadharStatusNominee1"
                          class="custom-control-input" [(ngModel)]="nAadharStatus" value="Verified"
                          [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="rdoAadharStatusNominee">Verified</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rdoAadharStatusNominee1" checked name="rdoAadharStatusNominee2"
                          class="custom-control-input" [(ngModel)]="nAadharStatus" value="Not Verified"
                          [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="rdoAadharStatusNominee1">Not Verified</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationAddressNominee">Address</label>
                    <textarea class="form-control" id="validationAddressNominee" [(ngModel)]="nAddress"
                      [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationContactNominee">Contact No</label>
                    <input type="text" class="form-control" id="validationContactNo" [(ngModel)]="nContactNo"
                      [ngModelOptions]="{standalone: true}" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="validationContactAadhar">&nbsp;</label><br>
                    <a href="https://resident.uidai.gov.in/aadhaarverification">Aadhar Number Check</a>
                  </div>
                </div>
              </div>
              <div>
                <button class="btn btn-primary" (click)="addNomineeDetailsArr()" *ngIf="!isNomineeEdited">Add</button>
                <button class="btn btn-primary" (click)="updateNomineeDetailsArr()"
                  *ngIf="isNomineeEdited">Update</button>
              </div>
              <br />
              <table class="table" *ngIf="nomineeDetailsArr.length > 0">
                <thead>
                  <tr style="background: aliceblue;">
                    <th>Sl.No</th>
                    <th>Name</th>
                    <th>Relationship</th>
                    <th>Date Of Birth</th>
                    <th>Aadhar No</th>
                    <th>Aadhar Status</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody formArrayName="nomineeDetails">
                  <tr *ngFor="let nomineeDetails of nomineeDetailsArr;let j=index;" [formGroupName]="j">
                    <td>{{j+1}}</td>
                    <td><input type="text" class="form-control" formControlName="NameNominee" readonly></td>
                    <td>
                      <select class="form-select" id="validationCustom29" formControlName="relationshipNominee"
                        disabled>
                        <option *ngFor="let relation of relationShip" [value]="relation.id">
                          {{relation.relationShip_Name}}
                      </select>
                    </td>
                    <td><input type="text" class="form-control" formControlName="dateOfBirthNominee" readonly></td>
                    <td><input type="text" class="form-control" formControlName="aadharNoNominee" readonly></td>
                    <td><input type="text" class="form-control" formControlName="AadharStatusNominee" readonly></td>
                    <td><input type="text" class="form-control" formControlName="AddressNominee" readonly></td>
                    <td><input type="text" class="form-control" formControlName="ContactNominee" readonly></td>
                    <td>
                      <i class="fa fa-edit" style="font-size:24px;color: blue;" (click)="editNomineeDetails(j)"></i>
                      &nbsp;
                      <i class="fa fa-trash" style="font-size:24px;color: red;" (click)="deleteNomineeDetails(j)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="card-title">Contact Information
      </h4>
      <hr>
      <h4 class="card-title">Permanent Contact Information
      </h4>
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationAddress1" class="form-label">Address<span class="text-danger">*</span></label>
            <textarea class="form-control" id="validationAddress1"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationAddress2" class="form-label">Address 1</label>
            <textarea class="form-control" id="validationAddress2"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationCountry" class="form-label">Country<span class="text-danger">*</span></label>
            <select class="form-select" id="validationCountry" (change)="onOptionsSelected($event)">
              <option selected="" disabled="" value="">Choose...</option>
              <option *ngFor="let CountryS of contries" [value]="CountryS.id">{{CountryS.country_Name}}
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationZone" class="form-label">Zone<span class="text-danger">*</span></label>
            <select class="form-select" id="validationZone">
              <option selected="" disabled="" value="">Choose...</option>
              <option *ngFor="let zone of countryZones" [value]="zone.id">{{zone.zone_Name}}

            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationCity">City </label>
            <input type="text" class="form-control" id="validationCity" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationPin">Pin <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="validationPin" />
          </div>
        </div>
      </div>
      <hr>
      <h4 class="card-title">
        Corresspondance Contact Information (Same as Above)
        <input type="checkbox">
      </h4>
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationAddress1" class="form-label">Address<span class="text-danger">*</span></label>
            <textarea class="form-control" id="validationAddress1"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationAddress2" class="form-label">Address 1</label>
            <textarea class="form-control" id="validationAddress2"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationCountry" class="form-label">Country<span class="text-danger">*</span></label>
            <select class="form-select" id="validationCountry" (change)="OptionsSelected($event)">
              <option selected="" disabled="" value="">Choose...</option>
              <option *ngFor="let cnt of contries" [value]="cnt.id">{{cnt.country_Name}}

            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationZone" class="form-label">Zone<span class="text-danger">*</span></label>
            <select class="form-select" id="validationZone">
              <option selected="" disabled="" value="">Choose...</option>
              <option *ngFor="let zn of corresspondCountryZone" [value]="zn.id">{{zn.zone_Name}}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationCity">City </label>
            <input type="text" class="form-control" id="validationCity" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationPin">Pin <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="validationPin" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationPhone">Phone</label>
            <input type="text" class="form-control" id="validationPhone" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationEmail2">Email Address2 </label>
            <input type="text" class="form-control" id="validationEmail2" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationPhone2">Mobile No2 </label>
            <input type="text" class="form-control" id="validationPhone2" />
          </div>
        </div>
      </div>
      <hr>
      <h4 class="card-title">Other Information
      </h4>
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationBankName">Bank Name </label>
            <input type="text" class="form-control" id="validationBankName" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationBranchName">Branch Name </label>
            <input type="text" class="form-control" id="validationBranchName" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationAccountNo">Account No. </label>
            <input type="text" class="form-control" id="validationAccountNo" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationIfscCode">IFSC Code</label>
            <input type="text" class="form-control" id="validationIfscCode" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <label>Identity Proof </label>
        </div>
        <div class="col-md-11">
          <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
              <thead class="table-light">
                <tr>
                  <th scope="col">Identity Type</th>
                  <th scope="col">Identity No</th>
                  <th scope="col">Valid Upto</th>
                  <th scope="col">Attachments</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select class="form-control">
                      <option>-----</option>
                      <option>-----</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control">
                  </td>
                  <td>
                    <input type="date" class="form-control">
                  </td>
                  <td>
                    <input type="file" class="form-control">
                  </td>
                  <td>
                    <button>Add</button>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
              <tbody>
                <tr class="table-light">
                  <td>
                    1
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    4
                  </td>
                  <td>
                    3
                  </td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationStatus" class="mr-5">Status </label>
            <input type="checkbox" id="validationStatus" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationOtherDetail">Other Details </label>
            <textarea class="form-control" id="validationOtherDetail"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationCardNo">Card No </label>
            <input type="text" class="form-control" id="validationCardNo" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationProxyNo">Proxy No </label>
            <input type="text" class="form-control" id="validationProxyNo" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationUserId">User Id</label>
            <div class="d-flex">
              <div class="custom-control custom-radio custom-control-inline mr-5">
                <input type="radio" id="rdoUserId" checked name="rdoUserId" class="custom-control-input">
                <label class="custom-control-label" for="rdoUserId"> Emp Code</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline mr-5">
                <input type="radio" id="rdoMobile" name="rdoUserId" class="custom-control-input">
                <label class="custom-control-label" for="rdoMobile"> Mobile No </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="rdoOther" name="rdoUserId" class="custom-control-input" checked>
                <label class="custom-control-label" for="rdoOther">Others</label>
              </div>
            </div>
            <input type="text" class="form-control" id="validationUserId" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationUserType" class="form-label">User Type</label>
            <select class="form-select" id="validationUserType">
              <option selected="" disabled="" value="">Choose...</option>
              <option *ngFor="let utype of userType" [value]="utype.id">{{utype.userType_Name}}

            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationPicture">Picture</label>
            <input type="file" class="form-control" id="validationPicture" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="validationSignature">Signature</label>
            <input type="file" class="form-control" id="validationSignature" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary mr-5">Save</button>
          <button type="submit" class="btn btn-primary">Reset</button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
</div> <!-- container-fluid -->