.mr-5 {
    margin-right: 5px;
}

.card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 600;
    color: #b91d1e;
    margin-left: 20px;
    margin-top: 10px;
}

.table> :not(caption)>*>* {
    padding: 0rem 0rem;
}

.Want {
    width: 120px;
}